<nav class="navbar">

  <a id="logo">Logo</a>

  <ul class="navbar-menu">
    <li><button type="submit" (click)="LogOut()" class="nav-button" >Logout</button></li>
    <li><a class="nav-link" routerLink="">Main page</a></li>
    <li><a class="nav-link" routerLink="/profile">Profile</a></li>
    <li><a class="nav-link" routerLink="/about">About company</a></li>
    <li><a class="nav-link" routerLink="/workers-list">Workers list</a></li>
    <li><button  class="nav-link" >Add an employee</button></li>
  </ul>
</nav>
